{
    "email": "",
    "username": "",
    "password": "",
    "data": {
        "custom": {
            "name": "自定义",
            "fenge_list": [
                {
                    "name": "喜爱",
                    "link": "",
                    "type": "data",
                    "data": []
                },
                {
                    "name": "讨厌",
                    "link": "",
                    "type": "data",
                    "data": []
                }
            ]
        }
    }
}